<div class="container">

    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10%"></th>
                    <th style="width: 20%">Name</th>
                    <th style="width: 40%">Email</th>
                    <th style="width: 10%">Age</th>
                    <th style="width: 20%">City</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data ">
                    <td>
                        <button class="btn btn-danger" title="remove" (click)="removeItem(item)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td class="text-right">{{item.age}}</td>
                    <td>{{item.city | uppercase}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <!--<nav class="pagination" *ngIf="dataLength > rowsOnPage">-->
                        <nav class="pagination  pull-left">
                            <li class="page-item" [class.disabled]="activePage <= 1" (click)="setPage(1)">
                                <a class="page-link" style="cursor: pointer">&laquo;</a>
                            </li>
                            <li class="page-item" *ngIf="activePage > 4 && activePage + 1 > lastPage" (click)="setPage(activePage - 4)">
                                <a class="page-link" tyle="cursor: pointer">{{activePage-4}}</a>
                            </li>
                            <li class="page-item" *ngIf="activePage > 3 && activePage + 2 > lastPage" (click)="setPage(activePage - 3)">
                                <a class="page-link" tyle="cursor: pointer">{{activePage-3}}</a>
                            </li>
                            <li class="page-item" *ngIf="activePage > 2" (click)="setPage(activePage - 2)">
                                <a class="page-link" tyle="cursor: pointer">{{activePage-2}}</a>
                            </li>
                            <li class="page-item" *ngIf="activePage > 1" (click)="setPage(activePage - 1)">
                                <a class="page-link" tyle="cursor: pointer">{{activePage-1}}</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" style="cursor: pointer">{{activePage}}</a>
                            </li>
                            <li class="page-item" *ngIf="activePage + 1 <= lastPage" (click)="setPage(activePage + 1)">
                                <a class="page-link" tyle="cursor: pointer">{{activePage+1}}</a>
                            </li>
                            <li class="page-item" *ngIf="activePage + 2 <= lastPage" (click)="setPage(activePage + 2)">
                                <a class="page-link" tyle="cursor: pointer">{{activePage+2}}</a>
                            </li>
                            <li class="page-item" *ngIf="activePage + 3 <= lastPage && activePage < 3" (click)="setPage(activePage + 3)">
                                <a class="page-link" style="cursor: pointer">{{activePage+3}}</a>
                            </li>
                            <li class="page-item" *ngIf="activePage + 4 <= lastPage && activePage < 2" (click)="setPage(activePage + 4)">
                                <a class="page-link" tyle="cursor: pointer">{{activePage+4}}</a>
                            </li>
                            <li class="page-item" [class.disabled]="activePage >= lastPage" (click)="setPage(lastPage)">
                                <a class="page-link" tyle="cursor: pointer">&raquo;</a>
                            </li>
                        </nav>
                        <!--<nav class="pagination pull-right" *ngIf="dataLength > minRowsOnPage">-->
                        <nav class="pagination pull-right">
                            <li class="page-item" *ngFor="let rows of rowsOnPageSet" [class.active]="rowsOnPage===rows" (click)="setRowsOnPage(rows)">
                                <a class="page-link" style="cursor: pointer">{{rows}}</a>
                            </li>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>